@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, div {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px "Roboto","sans-serif","Helvetica","Hiragino Sans GB","STHeiti Light","Microsoft YaHei", arial, serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

address, cite, em, var {
  font-style: normal; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none;
  color: #000; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button, textarea, select, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%; }

/**H5 reset**/
abbr, article, aside, audio, canvas, datalist, details, figure, footer, header, hgroup, menu, nav, output, progress, section, video {
  display: block;
  margin: 0;
  padding: 0; }

i, u, b, em, span, small {
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

#warning {
  display: inline-block;
  color: #ef735f;
  position: relative;
  top: -15px;
}

.head {
  height: 100px;
  position: relative;
  background: white; }
.reset {
  display: inline-block;
  margin-left: 20px;
  color: lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
}

.reset:hover {
  color: #ef735f;
  cursor: pointer;
  border-bottom: 1px solid #ef735f;
}

.focus-warning {
  width: 100%;
  height: 50px;
  color: #ef735f;
  text-align: left;
  line-height: 50px;
  position: relative;
  left: 20px;
}

.head-inner {
  width: 1024px;
  height: 100%;
  position: relative;
  margin: 0 auto; }

.h-r-left {
  width: 20%;
  height: 95px;
  line-height: 95px;
  /*text-align: center;*/
  position: relative;
  display: inline-block;
  color: #DD2727;
  font-size: 3em;
  font-weight: 800; }

.h-r-left img {
  width: 100%;
  height: 100%;
  position: relative; }

.h-right {
  width: 280px;
  height: 100%;
  position: relative;
  float: right;
  /* margin-top: 45px; */
  /*overflow: hidden;*/ }
#person_info {
  position: relative;
  top: 15px;
  left: 40%;
  height: auto;
  cursor: pointer;
  width: 60px;
  background: #f8f8f8;
}
.h-right .avatar {
  /*float: left;*/
  border: 1px solid #4BC0A5;
  padding: 3px;
  width: 54px;
  height: 54px;
}
.h-right .personal-center {
  font-size: 14px;
  text-align: center;
  color:rgba(0,0,0,0.6);
}
.h-right .personal-center .center-nav {
  display: none;
  width: 150px;
  height: 120px;
  background: #f8f8f8;
  position: absolute;
  left: 0;
  z-index: 1;
}
.center-nav p{
  position:relative;
  top:10%;
  width: 100%;
  color: rgba(0,0,0,0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.center-nav p a{
  display: inline-block;
  height: 100%;
}
.center-nav p a:hover {
  color: #DD2727;
  border-bottom: 1px solid #DD2727;
}
.center-nav .center-nav-list {
  margin-top: 5px;
}
.h-right .person_name {
  float: left;
  color: #00AC90;
  font: 12px bold "Microsoft YaHei";
  margin: 15px 0px 0px 15px;
  max-width: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}


.h-r-userName {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  font-size: 1em;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center; }

.exit {
  display: inline-block;
  font-size: 12px;
  margin-right: 23px;
  color: lightgray; }

.exit:hover {
  color: #ef735f;
  cursor: pointer; }

.h-r-input {
  display: inline-block;
  position: relative;
  width: 45%;
  height: 28px;
  line-height: 28px;
  background: #00b188;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  border: none; }

.h-r-input:hover {
  background: #ef735f; }

.content {
  width: 100%;
  height: auto;
  position: relative;
  background: white; }

.nav-inner {
  /*width: 100%;
  min-width: 1024px;*/
  min-width: 1200px;
  height: 40px;
  position: relative;
  margin: 0 auto; }

/*order_search  order_search  order_search  order_search  order_search  order_search  */
.c-r-h1 {
  margin: 10px 0 10px 0; }

td {
  width: 70px;
  height: 30px;
  border-right: 1px solid #e8edf1;
  cursor: pointer;
  overflow: hidden; }

.c-r-table th {
  background: #00b188;
  color: white;
  height: 30px;
  width: 80px; }
.my-order-table .my-order-thead .my-order-thead-th{
  background-color: #f8f8f8;color: rgba(0,0,0,0.8);margin-bottom: 45px;
}

.my-order-table .toComment:hover {
  color: #dd2727;
}
.my-order-table {
  width: 100%;
  margin-bottom: 50px;
}

.my-order-tr {
  border-bottom: 1px solid lightgray;
}

.my-order-tr .order-detail {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
}

.my-order-tr .order-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.my-order-tr .order-name {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

.c-r-td-addLength {
  width: 150px; }

.edit {
  font-weight: 600; }

.edit:hover {
  background: #ef735f;
  color: white; }

body, html {
  font-size: 12px; }

.index {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  /*����content*/
  /*part1*/
  /*part2*/
  /*show.html  show.html  show.html  show.html  show.html  show.html  show.html  show.html  */
  /*nav*/
  /*content*/
  /*part2*/
  /*goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  goods.ejs  */
  /*����content*/
  /*err*/
  /*���� comment-box*/
  /*filter*/ }
  .index #box {
    width: 100%;
    height: auto;
    position: relative;
    background: #f8f8f8; }
  .index .fl {
    float: left; }
  .index .fr {
    float: right; }
  .index .hidden {
    display: none; }
  .index .search-box {
    display: inline-block;
    position: absolute;
    right: 310px;
    top: 33px;
    width: 500px;
    height: 35px;
    line-height: 26px;
    border: 2px solid #DD2727;
  }
  .index .search-input {
    display: inline-block;
    position: relative;
    /* top: -8px; */
    width: 405px;
    height: 98%;
    line-height: 36px;
    font-size: 12px;
    color: lightgray;
    border: none;
    padding-left: 5px;
    overflow: hidden;
  }
  .index .search-btn {
    display: inline-block;
    width: 92px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    background: #DD2727;
    color: white;
    /*background: url("../../images/searchBtn.png") no-repeat;*/
  }
.index .search-btn:hover {
  cursor: pointer;
}
  .index .lin {
    width: 100%;
    min-width: 1024px;
    /*height: 15px;*/
    height: 30px;
    position: relative;
    background: #DD2727; }
  .index .content-part1 {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;}
  .index .c-part1-inner {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    margin: 0 auto; }
  .index .c-part1-left {
    width: 210px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1;
    float: left; }
  .index .c-part1-left .index-arrow {
    display: inline-block;
    position: absolute;
    top:0;
    right:10px;
  }
  .index .c-part1-list li {
    width: 100%;
    height: 48px;
    line-height: 48px;
    /*text-align: center;*/
    position: relative;
    /*border: 1px solid white;*/
    background: #f8f8f8;
  }
.index .c-part1-list a {
  display: inline-block;
  width: 100%;
  height:100%;
  font-size: 1em;
  font-weight: 800;
  color: rgba(0,0,0,0.6);
  text-indent: 10px;
  letter-spacing: 1.5px;
}
  .index .c-part1-list a:hover {
    /*background: #00b188;*/
    background: rgba(0,0,0,0.6);
    color: white;
    cursor: pointer; }
  .index .c-part1-right {
    width: 260px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 1.5%; }
  .index .recommend-link {
    display: inline-block;
    position: relative;
    width: 47%;
    height: 30%;
    margin-top: 3%;
    margin-left: 2px;
  }
  .index .recommend-link:hover {
    cursor: pointer; }
    .index .recommend-link:hover .recommend-detail {
      display: inline-block; }
  .index .c-part1-right img {
    /*width: 47%;
    height: 30%;
    margin-top: 3%;*/
    position: relative;
    width: 100%;
    height: 100%; }
  .index .recommend-detail {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 120px;
    font-size: 18px;
    color: #00b188;
    background: rgba(245, 245, 245, 0.8);
    text-align: center;
    z-index: 11;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    /*
    border:1px solid red
    */
  }
  .index .c-part1-main {
    width: 520px;
    height: 100%;
    position: relative;
    border: 1px solid #f8f8f8;
    float: right;
    margin-right: 1%; }
  .index .c-part1-main-index {
    width: 100%;
    height: 100%;
    position: relative; }
  .index #slider {
    width: 100%;
    height: 100%;
    position: relative; }
  .index .list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .index .list li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0); }
  .index .list li.current {
    opacity: 1;
    filter: alpha(opacity=100); }
  .index .list li img {
    width: 100%;
    height: 100%; }
  .index .content-part2 {
    width: 100%;
    position: relative;
    background: #f8f8f8;
    float: left;
    padding-bottom: 100px; }
  .index .c-part2-inner {
    width: 1024px;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 10px;
  }
  .index .part-title {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #ef735f;
    margin-top: 2%; }
  .index .c-part2-new {
    width: 100%;
    height: 83%;
    position: relative; }
  .index .c-part2-new-ul li {
    width: 23%;
    height: 360px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    background: white;
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2);
    border-radius: 4px; }
  .index .c-part2-new-ul-img {
    width: 95%;
    height: 225px;
    margin: 5px 0 0 6px; }
  .index .c-part2-new-ul-img-price {
    width: 85px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    background-color: #DD2727;
    opacity: 0.7;
    font-weight: 600;
    font-size: 1em;
    color: white;
    margin-top: -35px; }
  .index .c-part2-new-ul-img-price:hover {
    color: white;
    background-color: #DD2727;
    opacity: 1;
    cursor: pointer; }
  .index .c-part2-detail {
    width: 100%;
    height: 110px;
    position: relative;
    margin-top: 10px; }
  .index .c-part2-detail:hover {
    cursor: pointer; }
  .index .c-part2-detail-goodsName {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    overflow: hidden;
  }
  .index .c-part2-detail-describe {
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: 5px;
    font-size: 12px;
    color: gray;
    letter-spacing: 2px;
    text-indent: 2em; }
  .index .c-part2-detail-describe:hover {
    color: #ef735f; }
  .index .c-addMore {
    width: 400px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    left: 300px;
    top: 30px;
    background-color: rgba(220, 220, 220, 0.4);
    color: #00b188;
    font: 0.5em;
    letter-spacing: 2px; }
  .index .nav {
    /*width: 100%;*/
    min-width:1200px;
    height: 40px;
    position: relative;
    background: #DD2727; }
.index .nav-inner-ul {
  width: 1214.1px;
  height: 100%;
  margin: 0 auto;
}
  .index .nav-inner-ul .all-class {
    width: 210px;
    margin-right: 24px;
    margin-left: 0;
    color: white;
    background: #c40000;
  }
.index .nav-inner-ul .all-class:hover {
  background: #c40000;
}
.index .nav-inner-ul li {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px; }
    .index .nav-inner-ul li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: white; }
  .index .nav-inner-ul li:hover {
    background: #c40000;
    cursor: pointer; }
  .index .content-inner {
    width: 1024px;
    height: auto;
    position: relative;
    margin: 0 auto; }
  .index .c-part2-detail-more {
    color: lightgray;
    font-size: 12px;
    text-align: center; }
  .index .c-part2-detail-more span:hover {
    color: #00b188; }
  .index .c-goods {
    width: 1024px;
    height: 350px;
    position: relative;
    background: white;
    margin-top: 20px; }
  .index .c-goods-img {
    width: 740px;
    height: 350px;
    position: relative;
    display: inline-block; }
  .index .c-goods-img img {
    width: 350px;
    height: 100%; }
  .index .c-part1-right {
    width: 260px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 1.5%; }
  .index .c-part1-main {
    width: 360px;
    height: 330px;
    position: relative;
    padding: 10px;
    float: right;
    margin-right: 1%; }
  .index .c-goods-username {
    font-size: 14px;
    color: #00b188; }
  .index .c-goods-username-span {
    font-size: 0.3em;
    color: #00b188; }
  .index .c-goods-price {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-top: 10px;
    text-align: right;
    font-size: 2em;
    font-weight: 800;
    color: #ef735f;
    letter-spacing: 2px; }
  .index .c-goods-price-span {
    font-size: 0.5em;
    margin-right: 10px; }
  .index .c-goods-goodsName {
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: relative;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center; }
  .index .c-goods-describe {
    width: 100%;
    height: 120px;
    line-height: 20px;
    position: relative;
    border: 1px solid #00b188;
    margin-top: 10px;
    font-size: 0.8em;
    color: grey;
    letter-spacing: 2px;
    text-indent: 2em; }
  .index .c-goods-contact {
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: relative;
    margin-top: 10px;
    font-size: 0.8em;
    color: #00b188;
    opacity: 0.7; }
  .index .c-goods-focus {
    width: 90px;
    height: 25px;
    position: relative;
    background: #00b188;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 10px;
    border: none;
    outline: none; }
  .index .c-goods-focus:hover {
    background: #ef735f;
    cursor: pointer; }
  .index .on-focus {
    background: #ef735f;
    color: white; }
  .index .errContent {
    text-align: center;
    background: white;
    overflow: auto; }
  .index .errContent-p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    background: white; }
  .index .comment-box {
    width: 100%;
    height: auto;
    position: relative;
    top: 60px;
    background: white; }
  .index .comment-inner {
    width: 1024px;
    height: auto;
    position: relative;
    border: 1px solid lightgray;
    margin: 0 auto;
    clear: both; }
  .index .comment-head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    background: #e8edf1;
    color: #ef735f; }
  .index .comment-write {
    width: 70%;
    height: 170px;
    position: relative;
    border: 1px solid #01a57f;
    display: none; }
  .index .cmt {
    display: inline-block;
    float: right;
    width: 80px;
    height: 100%;
    background: #ef735f;
    color: white;
    text-align: center; }
  .index .cmt:hover {
    cursor: pointer;
    font-weight: 600; }
  .index .cmt-write {
    width: 96%;
    height: 110px;
    position: relative;
    resize: none;
    padding: 2%; }
  .index .cmt-btn {
    width: 100px;
    height: 25px;
    position: relative;
    float: right;
    background: #01a57f;
    color: white; }
  .index .cmt-btn:hover {
    background: #ef735f;
    cursor: pointer; }
  .index .comment-content {
    width: 100%;
    height: auto;
    position: relative; }
  .index .comment-list {
    width: 96%;
    height: auto;
    position: relative;
    padding: 1% 2%;
    font-size: 12px;
    border-bottom: 1px solid #e8edf1;
    margin-top: 10px; }
  .index .cmt-list-content {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    color: grey; }
  .index .cmt-list-other {
    color: darkgray;
    margin-top: 5px;
    margin-left: 10px; }
  .index .cmt-list-time {
    display: inline-block; }
  .index .filter-box {
    width: 100%;
    height: auto;
    padding-top: 10px;
    position: relative;
    background: white; }
  .index .filter {
    width: 1024px;
    min-height: 170px;
    position: relative;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 2px; }
  .index .filter-path {
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative; }
  .index .filter-path-a {
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #01a57f;
    font-size: 12px;
    text-align: center;
    color: #545652;
    margin: 5px; }
  .index .filter-path-a:hover {
    border: 1px solid #ef735f;
    color: #ef735f; }
  .index .filter-content {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px; }
  .index .filter-c-class {
    width: 100%;
    height: 70px;
    position: relative; }
  .index .filter-c-price {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-top: 5px; }
  .index .filter-c-class-title {
    width: 95px;
    height: 100%;
    position: relative;
    border-right: 1px solid lightgray;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #01a57f; }
  .index .filter-c-class-list {
    width: 915px;
    height: 100%;
    position: relative; }
  .index .filter-c-class-a {
    display: inline-block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    margin: 5px 0 0 5px;
    text-align: center;
    position: relative;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #545652; }
  .index .filter-c-class-a:hover {
    color: #ef735f;
    text-decoration: underline; }
  .index .showMore {
    color: #ef735f;
    cursor: pointer; }
  .index .tips-box {
    margin: 20px 0 0 0;
  }
  .index .tips {
    display: inline-block;
    width: auto;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    margin-left: 15px;
    color: #00b188;
  }

.index .tips:hover {
  color: #ef735f;
  cursor: pointer;
}

.index .search-tips {
  display: inline-block;
  width: auto;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  margin-left: 15px;
  border: 1px solid lightgrey;
  color: lightgrey;
}

.index .search-tips:hover {
  color: #ef735f;
  border-color:#ef735f;
}

.index .sort-box {
  width: 100%;
  height: 45px;
  position: relative;
  padding-top: 10px;
}

.index .sort-tip{
  display: inline-block;
  min-width: 50px;
  height: 30px;
  padding: 0 7px;
  line-height: 30px;
  border: 1px solid lightgrey;
  margin-left: 5px;
  text-align: center;
  background: white;
}

.index .sort-tip:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.sign {
  /*ע��/��½*/
  /*��֤��*/ }
  .sign html, .sign body {
    width: 100%;
    height: 100%; }
  .sign .bg-img {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 0; }
  .sign .signBox-inner {
    width: 100%;
    /*
    height: 430px;
    */
    height: 550px;
    position: fixed;
    top: 75px;
    background: lightblue;
  }
  .sign .sign-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
.sign .sign-bg img {
  width: 100%;
}
  .sign .sign-title {
    width: 20%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #00b188;
    font-size: 3em;
    font-weight: 800;
  }
  .sign .sign {
    width: 360px;
    /*
    height: 100%;
    */
    height: 430px;
    position: absolute;
    right: 7%;
    top:7%;
    /* margin: 0 auto; */
    /*background: rgba(245, 245, 245, 0.5);*/
    background: white;
    font-weight: 600;
    z-index: 1;}
  .sign .login-title {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #3c3c3c;
    font-weight: 700;
    margin-top: 42px;
    margin-left: 40px;
    padding-bottom: 40px;
  }
  .sign .signTitle {
    width: 100%;
    height: 30%;
    position: relative; }
  .sign .signTitle h1 {
    text-align: center;
    font-size: 52px;
    letter-spacing: 8px;
    color: #00b188;
    padding-top: 30px; }
  .sign .signText {
    width: 80%;
    height: 68%;
    position: relative;
    margin: 0 auto;
    color: #00b188; }
  .sign .signText-input {
    /*width: 250px;*/
    width: 200px;
    height: 30px;
    line-height: 30px;
    position: relative;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.6);
    padding-left: 10px;
    outline: none; }
.sign .signText-input:first-child {
  margin-top: 0;
}
  .sign .signBtn {
    width: 212px;
    height: 34px;
    line-height: 34px;
    position: relative;
    left: 48px;
    margin-top: 40px;
    background: #00b188;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    outline: none; }
  .sign .to-sign {
    color: #00b188; }
  .sign .to-sign:hover {
    color: #ef735f;
    cursor: pointer; }
  .sign .signBtnUp {
    position: relative;
    left: 60px; }
  .sign .toSignIn {
    position: relative;
    left: 215px;
    color: #00b188;
    margin-top: 33px;
    width: 60px; }
  .sign #warning {
    position: relative;
    left: 50px;
    color: #ef735f;
    font-size: 12px; }
  .sign .CodeBox {
    width: 100%;
    height: 25px;
    margin-top: 20px; }
  .sign .verCode-p {
    width: 55%;
    height: 100%; }
  .sign #verCode {
    width: 100px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px; }
  .sign .Code {
    width: 40%;
    height: 100%; }

.upload-order {
  /*order_search  order_search  order_search  order_search  order_search  order_search  */
  /*correct  correct  correct  correct  correct  correct  correct  correct  correct  */
  /*correctClass correctClass correctClass correctClass correctClass*/
  /*classList  classList  classList  classList  classList  classList  */
  /*Care  Care Care Care Care Care Care Care Care Care Care Care Care */ }
  .upload-order input {
    outline: none; }
  .upload-order select {
    outline: none; }
  .upload-order .hidden {
    display: none; }
  .upload-order .bg {
    background: white; }
  .upload-order #box {
    width: 100%;
    height: auto;
    position: relative;
    background: #f8f8f8; }
  .upload-order .fl {
    float: left; }
  .upload-order .fr {
    float: right; }
  .upload-order .head {
    /*height: 100px;*/
    height: 85px;
    position: relative;
    background: white; }
  .upload-order .head-inner {
    width: 1024px;
    height: 100%;
    position: relative;
    margin: 0 auto; }
  /*.upload-order .h-right {
    width: 20%;
    height: 95px;
    line-height: 95px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #00b188;
    font-size: 3em;
    font-weight: 800; }*/
  .upload-order .h-r-left img {
    width: 100%;
    height: 100%;
    position: relative; }
  /*.upload-order .h-right {
    width: 280px;
    height: 50px;
    position: relative;
    float: right;
    margin-top: 45px;
    overflow: hidden; }*/
  .upload-order .h-r-userName {
    width: 73%;
    height: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
  .upload-order .exit {
    display: inline-block;
    font-size: 12px;
    margin-right: 23px;
    color: lightgray; }
  .upload-order .exit:hover {
    color: #ef735f;
    cursor: pointer; }
  .upload-order .h-r-input {
    width: 45%;
    height: 28px;
    position: relative;
    background: #00b188;
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
    border: none; }
  .upload-order .h-r-input:hover {
    background: #ef735f; }
  .upload-order .lin {
    width: 100%;
    min-width: 1024px;
    height: 15px;
    position: relative;
    /*background: #00b188;*/ }
  .upload-order .content {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative; }
  .upload-order .c-left {
    width: 200px;
    height: auto;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    /*left: 50px;*/
    z-index: 1;
    float: left;
    background: #f8f8f8;
  }
  .upload-order .c-l-ul li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #f8f8f8;
    font-weight: 600;
    font-size: 14px;
    background: #f8f8f8;
    opacity: 0.8; }
    .upload-order .c-l-ul li a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      line-height: 35px;
      color: #dd2727; }
  .upload-order .c-l-ul li:hover {
    background: #dd2727;
    cursor: pointer; }
    .upload-order .c-l-ul li:hover a {
      color: white;
      cursor: pointer; }
  .upload-order .c-right {
    position: relative;
    left: 55px;
    width: 850px;
    height: auto;
    min-height: 500px;
    border: 1px solid #e8edf1;
    /*float: right;*/
    margin: 0 auto;
    text-align: center;
    color: #545652;
    padding-bottom: 50px; }
  .upload-order .c-right form {
    text-align: left;
    margin: 15px; }
  .upload-order .c-r-from-p {
    margin-top: 15px; }
  .upload-order .c-r-select {
    width: 160px;
    height: 23px; }
  .upload-order .optionChild {
    display: none;
  }
  .upload-order .c-r-txt {
    width: 770px;
    height: 150px;
    position: relative;
    margin: 20px 0 0 10px;
    padding: 15px;
    resize: none;
    font-size: 16px;
    text-indent: 2em;
    letter-spacing: 3px; }
  .upload-order .c-r-img {
    width: 800px;
    height: 100px;
    border: 1px solid darkgray;
    margin: 10px 0 0 10px;
    overflow: scroll; }
  .upload-order .c-r-img img {
    height: 94px;
    display: inline-block;
    float: left;
    margin: 3px 0 0 3px; }
  .upload-order .btn {
    width: 120px;
    height: 35px;
    position: relative;
    background: #ffeded;
    border:2px solid #dd2727;
    color: #dd2727;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    float: right;
    margin-right: 50px; }
  .upload-order .btn:hover {
    background: #dd2727;
    color: white;
    cursor: pointer; }
  .upload-order .textRight {
    text-align: right; }
  .upload-order .c-r-h1 {
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: black;
  }
  .upload-order td {
    width: 70px;
    height: 30px;
    border-right: 1px solid #e8edf1;
    cursor: pointer;
    overflow: hidden; }
  .upload-order .c-r-table th {
    background: #00b188;
    color: white;
    height: 30px;
    width: 80px; }
  .upload-order .c-r-td-addLength {
    width: 150px;
    padding: 5px;
  }
  .upload-order .edit {
    font-weight: 600; }
  .upload-order .edit:hover {
    background: #ef735f;
    color: white; }
  .upload-order .unused {
    color: lightgray;
    font-weight: 600; }
  .upload-order .footer {
    width: 100%;
    height: 100px;
    background: white; }
  .upload-order .c-r-correct {
    position: relative;}
  .upload-order .c-right form {
    text-align: left;
    margin: 15px; }
  .upload-order .c-r-from-p {
    margin-top: 15px; }
  .upload-order .c-r-select {
    width: 160px;
    height: 23px; }
  .upload-order .correct_id {
    display: none; }
  .upload-order .only {
    background: #e8edf1; }
  .upload-order .hidLayer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(245, 245, 245, 0.7);
    display: none; }
  .upload-order .layer {
    width: 600px;
    height: 400px;
    position: relative;
    left: 50%;
    top: 20%;
    margin-left: -300px;
    background-color: white;
    border: 2px solid #00b188;
    text-align: center; }
  .upload-order .layer-inner {
    margin-top: 50px; }
  .upload-order .layerInput {
    width: 180px;
    height: 15px;
    position: relative;
    padding: 5px 10px;
    border: 1px solid lightgray; }
  .upload-order .layer-inner-Pselect {
    position: relative;
    left: -60px;
    top: 15px; }
  .upload-order .layerSelect {
    text-align: center;
    height: 25px;
    line-height: 25px; }
  .upload-order .layerTextp {
    position: relative;
    top: 20px; }
  .upload-order .layerTextspan {
    position: relative;
    left: -105px; }
  .upload-order .layerTextarea {
    width: 300px;
    height: 150px;
    max-width: 300px;
    max-height: 150px;
    position: relative;
    margin-top: 10px;
    border: 1px solid lightgray; }
  .upload-order .layerBtn {
    position: relative;
    top: 50px;
    right: 150px; }
  .upload-order .layerBtn-input {
    width: 50px;
    border: none;
    background: #00b188;
    color: white;
    font-size: 14px;
    padding: 2px;
    margin-left: 5px; }
  .upload-order .layerBtn-input:hover {
    background: #ef735f;
    cursor: pointer; }
  .upload-order .errMsg {
    margin-right: 30px; }
  .upload-order .crtClassBtn {
    width: 100px;
    height: 30px;
    position: relative;
    background: #00b188;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    margin-top: 20px;
    float: right;
    margin-right: 50px; }
  .upload-order .crtClassBtn:hover {
    background: #ef735f;
    cursor: pointer; }
  .upload-order .c-r-clsList-table-th {
    background: #00b188;
    color: white;
    height: 30px;
    width: 70px; }
  .upload-order .c-r-clsList-table td {
    width: 70px;
    height: 30px;
    border-right: 1px solid #e8edf1;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden; }
  .upload-order .c-right-care-ul {
    width: 100%;
    height: 98%;
    position: relative;
    text-align: left; }
  .upload-order .c-right-care-ul li {
    width: 99.5%;
    height: 120px;
    position: relative;
    border: 1px solid #00b188;
    margin-top: 20px;
    padding: 7px 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
  .upload-order .c-right-care-liImg {
    width: 105px;
    height: 105px; }
  .upload-order .c-right-care-liMsg {
    width: 350px;
    height: 100%;
    position: relative;
    margin-left: 15px; }
  .upload-order .c-right-care-orderName {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .upload-order .c-right-orderDescribe {
    width: 100%;
    height: 55px;
    font-size: 12px;
    color: lightslategray;
    letter-spacing: 1px;
    margin-top: 7px;
    text-indent: 1em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
  .upload-order .c-right-care-liPrice {
    width: 150px;
    height: 100%;
    position: relative;
    margin-left: 15px;
    overflow: hidden; }
  .upload-order .c-right-care-liPrice-p {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    color: #ef735f;
    text-align: center; }
  .upload-order .c-right-care-liDo {
    width: 160px;
    height: 100%;
    position: relative;
    margin-left: 15px; }
  .upload-order .c-right-care-liDo-input {
    width: 120px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    position: relative;
    border: none;
    background: #00b188;
    color: white;
    font-size: 14px;
    letter-spacing: 1px; }
  .upload-order .c-right-care-liDo-input:hover {
    background: #ef735f;
    cursor: pointer; }
  .upload-order .c-right-care-liDo-cancelCare {
    font-size: 14px;
    position: relative;
    left: 50px;
    top: 10px;
    color: #545652; }
  .upload-order .c-right-care-liDo-cancelCare:hover {
    color: #ef735f; }
