<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>signUp</title>
    <link href="../css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="sign">
    <img src="../images/bg.jpg" class="bg-img">
    <div class="signBox-inner">
        <div class="sign">
            <div class="signTitle">
                <h1>校卖部</h1>
            </div>
            <div class="signText">
                <form id="signForm">
                    用 户 名&nbsp;：&nbsp;<input type="text" id="username" name="username"  class="signText-input"><br/>
                    用户邮箱：<input type="email" id="email" name="email"  class="signText-input"><br/>
                    密码设置：<input type="password" id="password" name="password"  class="signText-input"><br/>
                    重复密码：<input type="password" id="pswSure"  class="signText-input"><br/>
                    <button class="signBtn signBtnUp signUp">Sign up</button>
                    <p class="toSignIn" id="toSignIn"><a href="../index.html" class="to-sign">>> to Sign in</a></p>
                    <p id="warning"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../vendor/jquery.js"></script>
<script src="../js/sign.js"></script>
</body>
</html>